@page "/annuaire"
@using contact_annuaire.Models
@using contact_annuaire.Services
@using contact_annuaire.Components.Shared
@inject ContactService ContactService

<h1>📒 Mon Annuaire</h1>
<p>@contacts.Count contact(s) enregistré(s)</p>

<FilterContact OnTapWord="TrieContact"/>

@* Formulaire pour ajouter *@
<FormulaireContact OnAjouter="AjouterContact" />

@* Liste des contacts *@
<div class="grille">
    @foreach (var contact in contacts)
    {
        <CarteContact Contact="contact" OnSupprimer="SupprimerContact" />
    }
</div>

@code {
    private List<Contact> contacts = new();
    private List<Contact> tousLesContacts = new(); // ← garde une copie de l'original


    // Chargement initial des contacts
    protected override void OnInitialized()
    {
       tousLesContacts = ContactService.GetContacts();
        contacts=tousLesContacts;
    }

    private void AjouterContact(Contact contact)
    {
        ContactService.AjouterContact(contact);
        contacts = ContactService.GetContacts();
    }

    private void SupprimerContact(int id)
    {
        ContactService.SupprimerContact(id);
        contacts = ContactService.GetContacts();
    }

    private void TrieContact(string word)
    {
        if (string.IsNullOrEmpty(word))
        {
            // Si la recherche est vide, remet tous les contacts
            contacts = tousLesContacts;
        }
        else
        {
            // Where filtre et retourne seulement ceux qui correspondent
            contacts = tousLesContacts
                .Where(c => c.Prenom.ToLower().Contains(word.ToLower())
                         || c.Nom.ToLower().Contains(word.ToLower()))
                .ToList();
        }
        StateHasChanged();
    }
}